<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="TongueToe">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <base href="/">

    <title>UT Course Lookup</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

</head>

<body ng-app="ut" ng-controller="InitCtrl">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/app.js"></script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">UT Undergraduate</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home">Link</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="home">Link</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="well well-lg col-lg-6 col-lg-offset-3">

                <form name="courseForm" class="form-horizontal" ng-init="loadFields()">
                    <legend>Course Finder</legend>
                    <div class="form-group">
                        <label for="fos" class="col-lg-2 control-label">Field of Study</label>
                        <div class="col-lg-10">
                            <select class="form-control" name="fos" id="fos" ng-model="formfield" ng-change="loadCourses(formfield[1])" ng-options="field[1] + ' - ' + field[0] for field in fields">
                                <option value="" disabled selected style="display: none;">Select a Field...</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="courses" class="col-lg-2 control-label">Courses</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="courses" ng-model="formcourse" ng-change="updateCourse(formcourse)" ng-options="course.Number + ': ' + course.Name for course in courses">
                                <option value="" disabled selected style="display: none;">Select a Course...</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-offset-3" ng-init="setDiv()">  
                        <label class="radio-inline">
                            <input type="radio" name="division" ng-model="courseDiv" value="both" ng-change="updateCourseDiv()">Both
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="division" ng-model="courseDiv" value="lower" ng-change="updateCourseDiv()">Lower Division
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="division" ng-model="courseDiv" value="upper" ng-change="updateCourseDiv()">Upper Division
                        </label>
                    </div>
                </form>

            </div>
        </div>

        <div class="container col-lg-12">
            <div ui-view></div>
        </div>
    </div>
    <!-- /page-content-wrapper -->

</body>

</html>
